body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*    background-color:#E4E4E4;
     background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
     background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
     background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
     background-image:-webkit-gradient(
     linear,
     left top,
     left bottom,
     color-stop(0, #A7A7A7),
     color-stop(0.51, #E4E4E4)
     );
     background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
   /* font-size:12px;*/
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.ui-body-c {
    background: #F7F7F7;
    /*background: #dedede;*/
    /*background: #4f4f4f;*/
}

#scForProviders {
    padding-top: 30%;
    text-align: center;
    padding-bottom: 10%;
}
.mainBar {
    width: 70%;
    padding-left: 15%;
}

#toolsResBar {
    
    
    
}

#medQuestBar {
    
    
}

#bestPracBar {
    
}

div#mainText {
  padding: .5em;
}

.homePageButton {
    height: 70px;
    /*background-image: url('../img/medQuestionnaireImg.png');*/
    /*background-image: url('../img/mqSquare.png') !important;*/
    /*background-size: 100% 100% !important;*/

    -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px !important;
  background: #97c83c !important;
  background-size: 155% !important;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
}

.regPageButton {
    height: 50px;
    /*background-image: url('../img/medQuestionnaireImg.png');*/
    /*background-image: url('../img/mqSquare.png') !important;*/
    /*background-size: 100% 100% !important;*/
    width: 250%;
    -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px !important;
  background: #97c83c !important;
  background-size: 100% !important;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
}

.questButton {
    height: 70px;
    /*background-image: url('../img/medQuestionnaireImg.png');*/
    /*background-image: url('../img/mqSquare.png') !important;*/
    /*background-size: 100% 100% !important;*/

    -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  background: #97c83c !important;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bestPracButton {
    height: 70px;
    /*background-image: url('../img/medQuestionnaireImg.png');*/
    /*background-image: url('../img/mqSquare.png') !important;*/
    /*background-size: 100% 100% !important;*/

    -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  background: #97c83c !important;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.toolsButton {
    /*width: 100%;
    height: 15%;*/
    height: 70px;
    /*background: #98C93C;
    font-size: 27;
    text-align: left;*/
    /*background-image: url('../img/toolsResButton.png');*/
    /*background-image: url('../img/toolsResSquare.png') !important;*/
   /* background-size:100% 100% !important;*/
    -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  background: #97c83c !important;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#headerRegAcct {
    text-align:center;
    padding-top: 200px;
    position: absolute;
}

#registerContent {
    position: absolute;
    margin-top: 32%;
    margin-left: 25%;
    padding: 1em;
}

.phoneInput {
    height: 65px;
    width: 100% !important;
    margin-top: 10px;
    
}

#regAcctButton {
    
    padding-left: 5px;
    position:absolute;
    
}


#greyBackgroundBubble {
    padding-left: 14%;
    position: absolute;
    padding-top: 310px;
}

#greyBackgroundBubbleEmail {
    padding-left: 14%;
    position: absolute;
    padding-top: 310px;
}

.regButton {
    height: 70px;
   /* background-image: url('../img/continueButton.png');*/
   background-image: url('../img/continueSquare.png') !important;
   background-size: 100% 100% !important;
}

#privacyPolicy {
    padding-top: 650px;
    text-align: center;
}

#headingEmail {
  /*  position: absolute;*/
    margin-top: 285px;
    text-align: center;
    font-size: 27px;
    padding-bottom: 30px;
}

#paperAirplane {
    position: absolute;
    margin-top: 265px;
    margin-left: 130px;
}

#emailContent {
   /* position: absolute;*/
    /*padding-top: 370px;*/
    width: 810px;
    margin-left: 17%;
}

#emailSendButton {
    width: 68%;
    padding-left:16%;
    padding-top: 20px;
    padding-bottom: 30px;
    /*margin-top: 450px;*/
}

.emailButton {
    height: 60px;
    /*background-image: url('../img/sendButton2.png');*/
    background-image: url('../img/sendSquare.png') !important;
    background-size: 100% 100% !important;
}

.emailTextField {
    height:55px;
    width: 480px !important;
}

#grayBarOne {
    text-align: center;
    padding-bottom: 30px;
}

#grayBarTwo {
    text-align: center;
    padding-bottom: 30px;
}

.ui-btn {
    border: none !important;
}

.ui-li ui-bar-a {
    text-decoration:  none;
    color: greenyellow !important;
    background: greenyellow !important;
    background-color: greenyellow !important;
}

#headingAnswers h1 {
    text-align: center;
    padding-bottom: 10px;
}

#backToQuestionnaire {
    width: 45%;
    /*height: 50px;*/
    padding-right: 5%;
    float: left;
}

#submit {
    width: 45%;
    float: right;
}


#backgroundBubble {
    position:absolute;
    padding-left: 15%;
    margin-top: 275px;
    height: 200px;
}

#emailContent1 {
    position: absolute;
    padding-left: 17%;
    margin-top: 350px;
}

#emailSendButton1 {
    width: 64%;
    padding-left:16.5%;
    padding-top: 20px;
    padding-bottom: 30px;
    position: absolute;
    margin-top: 400px;
}

.emailButton1 {
    height: 58px;
    background-image: url('../img/sendSquare.png') !important;
    background-size: 100% 100% !important;
}

#finishButton {
    position: absolute;
    padding-left: 14%;
    margin-top: 700px;
    width: 10%;
}

.finishButtonClass {
    height: 35px;
    background-image: url('../img/finishButton2.png') !important;
    background-size: 100% 100% !important;
}

#footerBottom {
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:96%;
    left: 0;
}

#emailH1 {
    font-size: 28pt;
    text-align: center;
}

#emailP {
    font-size: 14pt;
    text-align: center;
}

#emailAddr1 {
    width: 98%;
    margin-left: 1%;
    height: 57px;
}

#emailButton1 {
    width: 100%;
    margin-left: 1%;
}

#emailButtonDiv {
    width: 98% !important;
    margin-left: 1% !important;
    padding-top: 15px;
    padding-bottom: 20px;
}

.emailButton2 {
    height: 65px;
    background-image: url('../img/sendSquare.png') !important;
    background-size: 100% 100% !important;
}

.listViewId {
    background-color: #f0f0f0 !important;
}

#emailDiv {
    padding-top: 30%;
    width: 85%;
    margin-left: 7%;
}

#greenBar1 {
	background-color: #8cc63f;
	border-color: #8cc63f;
	text-shadow: 0 0 0 !important;
    font-size: 14pt;
}

#featuredResources {
    text-align: center;
}

#clothingImg {
	padding-top: 20px;
	padding-left: 20px;
	opacity: 0.7;
	width: 6%;
}

#homeList h2 {
    font-size: 14pt;
}

#homeList p {
    font-size: 12pt;
}

#featuredResourcesLogo {
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}

#busy {
	display:none;
	position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: -65px;
	margin-top: -31px;
	color: #FFFFFF;
	font-size: 24px;
	z-index:6;
	background-color: #000000;
	opacity:0.5;
 	width:100px;
	height:32px;
	padding: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

li .resCheckBox {
  float: right !important;
}
